@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body { /* Estos estilos serán para TODOS LOS BODY. Algunos se heredarán a sus elementos hijos también*/
        min-height: 100vh; /* el body ocupa al menos (min) el 100% de la ventana (vh viewport height) */
        /* Eso nos ayudará a que al centrar verticalmente, se vaya al centro centro de la pantalla */
        margin: 0; /* eliminamos el margen por defecto que pondría el navegador al body */
        font-family: 'Montserrat', sans-serif; /* añadimos la fuente "descargada" arriba */
        /* sans-serif es el plan B. En plan, imagina que borran Montserrat */
        background-color: #121212;
        color: white;
    }
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;                /* navbar en fila */
  justify-content: space-between; /* logo a la izquierda, links a la derecha */
  align-items: center;          /* centra verticalmente */
  padding: 0 2rem;
  box-sizing: border-box; /* Impide el padding se salga por fuera*/
  background-color: rgba(0, 0, 0, 0.6); /* fondo semitransparente */
  height: 60px;
}

nav ul {
  display: flex;        /* los li en fila */
  list-style: none;     /* quita los puntos de la lista */
  gap: 2rem;            /* espacio entre links */
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;  /* quita el subrayado */
  font-weight: 700;
  font-size: 0.9rem;
}

nav a:hover {
  color: #1DB954;  /* verde Spotify al hacer hover */
}