<!DOCTYPE html>
<html>
  <head>
    <title>World Cupify</title>
    <link href="/static/styles.css" rel="stylesheet"> 
    <!-- Importamos el css styles, que está en static --> 
  </head>
  <body>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <h1>Spotify World Cup</h1>
    <h1>Hola, {{username}}</h1>
    <h3>Mode:</h3>
    <form action="/game_start" method="post">
        <input type="radio" name="game_mode" value="artists" checked> Artists
        <input type="radio" name="game_mode" value="tracks"> Tracks
    <h3>Time range:</h3>
        <input type="radio" name="time_range" value="short_term" checked> Last Month
        <input type="radio" name="time_range" value="medium_term"> Last 6 Months
        <input type="radio" name="time_range" value="long_term"> Last Year
    <h3>Number of participants:</h3>
        <select name="participants">
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="16">16</option>
            <option value="32">32</option>
        </select>
    <button type="submit">START</button>
    </form>
    <a href="/logout" onclick="var w = window.open('https://accounts.spotify.com/logout', '_blank', 'width=500,height=500'); setTimeout(function(){ w.close(); }, 2000);">Logout</a>
  </body>
</html>